@charset "utf-8";
/* 全局样式 */
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal
}

body > div, body > header, body > nav, body > section, body > footer, body > article {
  margin: 0 auto
}

div {
  text-align: left
}

a img {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

select, input, textarea {
  outline: none
}

body {
  color: #555;
  font: 13px "微软雅黑";
  overflow-x: hidden;
}

ul, ol, li {
  list-style-type: none;
  vertical-align: 0
}

a {
  outline-style: none;
  color: #474747;
  text-decoration: none;
  transition: all 0.3s ease
}

a, area {
  blr: expression(this.onFocus=this.blur())
}

:focus {
  -moz-outline-style: none
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hidden, .hide {
  display: none
}

.block, .show {
  display: block
}

.fl {
  float: left
}

.fr {
  float: right
}

.fline {
  float: left;
  display: inline
}

.clearfix:after {
  clear: both;
  content: ".";
  height: 0;
  display: block;
  visibility: hidden
}

.chgBtn {
  cursor: pointer
}

.f12 {
  font-size: 12px
}

.f12 {
  font-size: 13px
}

.f14 {
  font-size: 14px
}

.f12 {
  font-size: 15px
}

.f16 {
  font-size: 16px
}

.fwr {
  font-family: "微软雅黑"
}

.far {
  font-family: Arial
}

.fb {
  font-weight: bold
}

.auto {
  margin-left: auto;
  margin-right: auto
}

.cor_red {
  color: #cc000c
}

.cor_bs, .cor_bs:hover {
  color: #fff
}

.pr {
  position: relative
}

.pa {
  position: absolute
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.imgBlock img {
  display: block;
}

.autoImg img {
  display: block;
  width: 100%;
  height: auto
}

.mkFocus {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mkFocus .swiper-pagination {
  bottom: 8px !important;
  text-align: right;
  padding-right: 14px;
}

.mkFocus .swiper-pagination-bullet {
  background: #989898;
  border-radius: 50% !important;
  height: 10px;
  border-radius: 0;
  width: 10px;
  opacity: 1 !important;
}

.mkFocus .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.mkFocus .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
}

.mBanText {
  font-size: 14px;
  color: #FFF;
  line-height: 34px;
  height: 34px;
  width: 100%;
  padding-left: 14px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.mNav .swiper-slide {
  float: left;
  width: auto;
  padding: 0px 14px;
  height: 45px;
  line-height: 44px;
}

.mNav_a {
  font-size: 17px;
  color: #888888;
}

.mNav_a:hover, .mNav_cuta {
  color: #cc000c;
}

.ftEmpty {
  height: 55px;
}

.footer {
  line-height: 54px;
  height: 55px;
  border-top: 1px solid #9B9B9B;
  position: fixed;
  z-index: 20;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background: #FFF;
}

.footer li {
  float: left;
  width: 33.3333%;
  text-align: center;
  height: 54px;
  position: relative;
}

.footer li img {
  position: absolute;
  height: 21px;
  width: 21px;
  left: 50%;
  top: 8px;
  margin-left: -11px;
}

.foot_a {
  line-height: 16px;
  padding-top: 32px;
  display: block;
  font-size: 14px;
  color: #888888;
}

.foot_aimg {
  opacity: 0;
  transition: all 0.3s ease
}

.foot_a:hover .foot_aimg, .foot_a.on .foot_aimg {
  opacity: 1;
}

.foot_a:hover, .foot_a.on {
  color: #cc000c;
}

.hm_ul li {
  padding: 16px 14px;
  border-bottom: 1px solid #CCC;
}

.hm_ul li img {
  height: auto;
  width: 125px;
}

.hm_ulTxt {
  margin-left: 144px;
}

.hm_ul li strong {
  line-height: 26px;
  font-size: 18px;
  max-height: 52px;
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
}

.hm_ulTime {
  color: #999999;
  line-height: 20px;
  display: inline-block;
}

.hm_liNoImg p {
  font-size: 15px;
  line-height: 22px;
  color: #777777;
}

.hm_liNoImg {
  position: relative;
}

.hm_liNoImg .hm_ulTime {
  position: absolute;
  right: 14px;
  bottom: 15px;
  line-height: 22px;
}

.mLayerBg {
  z-index: 60;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.mLayerMenu {
  background: #FFF;
  width: 122px;
  position: absolute;
  top: 52px;
  right: 7px;
  z-index: 70;
  border-radius: 0.4em;
}

.mLayerMenu i {
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -10px;
  right: 9px;
  position: absolute;
}

.mLayerMenu ul li {
  line-height: 50px;
  height: 51px;
  border-bottom: 1px solid #DFE3E6;
}

.mLayerMenu ul li:last-child {
  border: none;
}

.mLayMenu_a {
  display: block;
  padding-left: 20px;
  color: #555555;
}

.mLayMenu_a img {
  float: left;
  width: 20px;
  margin: 15px 10px 0px 0px;
}

.startBody {
  background: #fffef0;
}

.startLogo {
  width: 68%;
  position: absolute;
  left: 50%;
  bottom: 8%;
  margin-left: -34%;
}

.startBigLogo {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -25%;
}

.lgLogo {
  width: 40.6%;
  margin: 0px auto;
  padding: 8% 0px 10%;
}

.lgChange_a {
  line-height: 32px;
  display: inline-block;
  height: 32px;
  margin: 0px 3px;
  padding: 0px 17px;
  font-size: 15px;
  color: #585858;
  border-radius: 1.2em;
}

.lgChange_a.on, .lgChange_a:hover {
  color: #FFF;
  background: #CC000B;
}

.lgChange {
  text-align: center;
  padding-bottom: 12px;
}

.lgFm {
  margin: 0px 45px;
}

.lgFm li {
  height: 53px;
  padding-top: 16px;
  position: relative;
}

.lgFm_int {
  line-height: 36px;
  height: 37px;
  width: 100%;
  border-bottom: 1px solid #565656;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  padding: 0px 10px 0px 40px;
  font-size: 16px;
  color: #666;
}

.lgFm li img {
  position: absolute;
  width: 25px;
  left: 5px;
  top: 21px;
}

.lgFm .lgSvPwd {
  line-height: 44px;
  height: 52px;
  font-size: 15px;
  color: #555555;
  padding: 0px 5px;
}

.lgSvPwd a {
  color: #555555;
}

.mchke {
  margin-right: 6px;
  top: 1px;
  position: relative;
}

.lgSubmit {
  display: block;
  font-size: 18px;
  line-height: 44px;
  color: #FFF;
  background: #CC000B;
  text-align: center;
  border-radius: 0.3em;
}

.lgFm .lgBtn {
  height: 46px;
  margin-bottom: 20px;
  padding-top: 0px;
}

.lgFm_gt {
  background: #FFF;
  width: 120px;
  padding-left: 15px;
  position: absolute;
  right: 0px;
  bottom: -2px;
}

.lg_getCoder {
  font-size: 14px;
  line-height: 40px;
  color: #cc000c;
  text-align: center;
  display: block;
  border: 1px solid #cc000c;
  border-radius: 0.3em
}

.mPerInfo {
  padding: 0px 14px;
}

.mLine {
  height: 12px;
  border-top: 1px solid #DFE3E6;
  border-bottom: 1px solid #DFE3E6;
  background: #F3F4F6;
}

.mPerInfo li {
  line-height: 50px;
  height: 51px;
  border-bottom: 1px solid #DFE3E6;
  font-size: 16px;
}

.mPerInfo li:last-child {
  border: none;
}

.mPer_inm {
  float: left;
  color: #555555;
}

.mper_val {
  color: #333;
  float: right;
}

.mPer_u1 {
  padding: 14px 14px 0px;
}

.mPer_u1 li {
  border: 1px solid #CCCCCC;
  background: #FFF;
  margin-bottom: 14px;
  padding-bottom: 12px;
}

.mPer_tm1 {
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: #6A6A6A;
  padding: 6px 0px 0px 14px;
}

.mPer_u1bx1 {
  line-height: 28px;
  font-size: 16px;
  padding: 14px 14px 5px;
}

.mPer_u1bx2 {
  font-size: 16px;
  padding: 0px 14px;
  line-height: 28px;
}

.hsBody {
  background: #f1f1f1;
}

.mPer_u2 {
  margin-top: 10px;
  border-top: 1px solid #d3d3d3;
}

.mPer_u2 li {
  line-height: 54px;
  height: 55px;
  border-bottom: 1px solid #d3d3d3;
  padding: 0px 14px;
  font-size: 18px;
  position: relative;
  background: #FFF;
}

.perLayer {
  background: #FFF;
  height: 100%;
  width: 76%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 80;
  transform: translateX(-100%);
  transition: all 0.3s ease
}

.perLayerIn {
  transform: translateX(0);
}

.perHdImg {
  float: left;
  height: 70px;
  width: 70px;
}

.perHdImg img {
  border-radius: 50%;
  border: 3px solid #FE9A87;
}

.perInfo2 strong {
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
  padding-top: 3px;
}

.perInfo2 {
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
  margin-left: 78px;
  color: #FFF;
}

.perBomLg {
  height: 30px;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 5%;
}

.perBomLg img {
  height: 30px;
  width: auto;
}

.perMenu li {
  margin-left: 16px;
  border-bottom: 1px solid #E3E7E9;
}

.perMenu_a {
  line-height: 50px;
  display: block;
  height: 50px;
  position: relative;
  padding-left: 38px;
  font-size: 16px;
  color: #555;
}

.perMenu_a img {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 12px;
  left: 0px;
}

.per_cutImg {
  opacity: 0;
  transition: all 0.3s ease
}

.perMenu_Cuta {
  color: #cc000c;
}

.perMenu_Cuta .per_cutImg {
  opacity: 1;
}

.mTop_btn {
  line-height: 24px;
  padding: 0px 5px;
  height: 26px;
  border: 1px solid #FFF;
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 14px;
  color: #FFF;
  font-size: 14px;
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.3);
}

.m2jf_t1 {
  font-size: 16px;
  line-height: 26px;
  padding: 20px 14px 12px;
}

.mBm_btn1 {
  line-height: 44px;
  height: 44px;
  margin: 10px 45px 20px;
  background: #CC000B;
  font-size: 18px;
  color: #FFF;
  display: block;
  text-align: center;
  border-radius: 0.3em;
}

.m2jf_tab {
  border-bottom: 1px solid #C6C6C6;
  padding: 0px 14px 50px;
}

.m2jf_tr td {
  line-height: 46px;
  height: 47px;
  border-bottom: 1px solid #C9C9C9;
  padding: 0px 3px;
  font-size: 16px;
}

.m2jf_th td div {
  font-size: 16px;
  line-height: 36px;
  background: #F8EAA9;
  text-align: center;
}

.m2jf_td1 {
  border-radius: 0.3em 0 0 0.3em;
}

.m2jf_td2 {
  border-radius: 0 0.3em 0.3em 0;
}

.m2jf_cut {
  color: #FFF;
  background: #fa7600;
}

.m2jf_CutTr td {
  background: #fff8d9;
}

.mMsg {
  height: 188px;
  width: 290px;
  margin-top: -94px;
  margin-left: -145px;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #FAFAFA;
  z-index: 66;
  border-radius: 0.4em;
}

.mMsgBm {
  line-height: 48px;
  height: 49px;
  border-top: 1px solid #DFE3E6;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.mMsg_chanle {
  line-height: 48px;
  text-align: center;
  display: block;
  width: 50%;
  font-size: 18px;
  color: #cc000c;
  float: left;
  border-right: 1px solid #dfe3e6;
}

.mMsg_ok {
  line-height: 48px;
  text-align: center;
  display: block;
  width: 50%;
  font-size: 18px;
  color: #cc000c;
  float: right;
}

.mMsg strong {
  height: 60px;
  text-align: center;
  font-size: 20px;
  color: #000;
  display: block;
  font-weight: normal;
  padding: 24px 10px 0px;
}

.mMsg p {
  padding: 0px 30px;
  font-size: 16px;
  line-height: 26px;
  color: #555;
  text-align: center;
}

.m2jf_tab2 {
  border-bottom-width: 0px;
  border-bottom-style: none;
  padding-bottom: 20px;
}

.m2jf_icon {
  text-align: center;
  height: auto;
  width: 70px;
  padding-top: 42px;
  margin: 0px auto;
}

.m2jf_stxt {
  padding: 18px 14px 52px;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
}

.m2jf_stxt .cor_red {
  font-size: 22px;
}

.mPayLaer {
  background: #FFF;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 80;
  transition: all 0.2s ease
}

.mPay_t1 {
  text-align: center;
  line-height: 50px;
  height: 51px;
  border-bottom: 1px solid #C4C4C4;
  font-size: 18px;
}

.mPay_pitms li {
  line-height: 48px;
  height: 49px;
  border-bottom: 1px solid #C4C4C4;
  position: relative;
  padding: 0px 14px;
  font-size: 18px;
  color: #787878;
}

.mPay_pitms li img {
  float: left;
  height: 36px;
  width: 36px;
  margin: 6px 10px 0px 0px;
}

.mPay_pitms .mPay_other {
  line-height: 60px;
  height: 60px;
  border-bottom-width: 0px;
  border-bottom-style: none;
}

.mPay_pitms .mPay_other img {
  margin-top: 12px;
}

.mPayLaer2 {
  transform: translateY(100%);
}

.m2jf_u1 {
  margin-top: 20px;
}

.m2jf_u2 {
  margin: 0px 45px 80px;
}

.m2jf_u2 li {
  height: 55px;
  padding-top: 20px;
  border-bottom: 1px solid #565656;
  color: #000;
  font-size: 16px;
  line-height: 34px;
}

.m2jf_snm {
  float: left;
  width: 66px;
  padding-left: 2px;
}

.m2jf_s2a {
  margin-bottom: 0px;
}

.cor_hs {
  color: #898989;
}

.m2jf_int {
  border-width: 0px;
  border-style: none;
  line-height: 32px;
  height: 32px;
  width: 100%;
  font-size: 16px;
  color: #666;
}

.m2jf_intBox {
  margin-left: 68px;
}

.mPay_mn {
  color: #d7060b;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  margin-right: 14px;
  padding-right: 30px;
}

.m2jf_u3 {
  margin-top: 20px;
  margin-bottom: 35px;
}

.m2u1 li {
  border-bottom: 1px solid #ccc;
  padding: 20px 35px 22px 50px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  background: #FFF;
}

.m2u1 {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.m2chk {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -7px;
}

.m2stxt1 {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 45px;
}

.m2Tlogo {
  width: 44%;
  margin: 15% auto;
}

.m2Set .mPer_u2 {
  border-top: 1px solid #e3e7e9;
}

.m2Set .mPer_u2 li {
  border-bottom: 1px solid #e3e7e9;
}

.mSet_btn {
  background: #E0E0E0;
  height: 16px;
  width: 38px;
  margin-top: -8px;
  border: 1px solid #C3C3C3;
  position: absolute;
  top: 50%;
  right: 14px;
  border-radius: 0.8em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mSet_btn i {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #CECCCC;
  background: #FFF;
  left: -1px;
  top: -3px;
  border-radius: 50%;
  transition: all 0.3s ease
}

.mSet_btn.on {
  background: #FC982E;
}

.mSet_btn.on i {
  left: 17px;
}

.m2fmBox {
  padding: 20px 14px 0px;
}

.m2fm_area {
  border: 1px solid #C2C2C2;
  border-radius: 0.4em;
  width: 100%;
  padding: 5px 8px;
  height: 130px;
  margin-bottom: 10px;
  font: 16px/26px "微软雅黑";
  color: #555;
}

.m2fm_int {
  line-height: 40px;
  height: 42px;
  border-radius: 0.4em;
  border: 1px solid #C2C2C2;
  padding: 0px 8px;
  width: 100%;
  font-size: 16px;
  color: #555;
}

.m2stxt2 {
  color: #888989;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 25px 30px;
}

.m2u2 {
  padding: 10px 0px;
}

.m2u2 li {
  padding: 14px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.m2u2_time {
  font-size: 12px;
  color: #999999;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 14px;
}

.m2u2 strong {
  line-height: 24px;
  display: block;
  margin-right: 80px;
  margin-bottom: 4px;
  font-size: 16px;
}

.m2u2 p {
  line-height: 20px;
  color: #777;
  font-size: 14px;
}

.mMes_t {
  line-height: 28px;
  padding: 20px 0px 10px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 0px 14px;
  color: #333;
}

.mMes_info {
  color: #777;
  line-height: 18px;
  padding: 12px 14px;
  text-align: center;
}

.mMes_txt {
  line-height: 26px;
  font-size: 16px;
  color: #777777;
  padding: 0px 20px 20px;
}

.m2itmUl li {
  margin-bottom: 12px;
}

.m2adTxt {
  color: #FFF;
  line-height: 36px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 28px;
  font-size: 16px;
}

.m2topMes {
  line-height: 24px;
  background: #F8EAA9;
  color: #fb7600;
  font-size: 15px;
  padding: 10px 45px 10px 10px;
  overflow: hidden;
  position: relative;
}

.m2ms_itms li {
  text-align: center;
  float: left;
  width: 33.333%;
  padding: 0px 10px;
}

.m2ms_itms li a {
  line-height: 44px;
  text-align: center;
  display: block;
  font-size: 18px;
  color: #888888;
}

.m2ms_itms li .on {
  color: #cc000c;
  border-bottom: 2px solid #cc000c;
}

.m2u2a {
  padding-top: 0px;
}

.m2u3 li {
  padding: 20px 14px 20px 112px;
  position: relative;
  min-height: 88px;
  border-bottom: 1px solid #ccc;
}

.m2u3 strong {
  line-height: 30px;
  height: 30px;
  display: block;
  font-size: 18px;
  color: #000;
  font-weight: normal;
}

.m2u3_bx {
  line-height: 24px;
  margin: 2px 0px 5px;
  color: #333;
  font-size: 16px;
}

.m2u3 p {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.m2ldImg {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -40px;
}

.m2ldImg img {
  border-radius: 50%;
}

.m2ld_bx2 {
  line-height: 26px;
  padding: 12px 14px;
  background: #FFF;
  font-size: 17px;
  color: #434343;
  text-align: center;
  border-bottom: 1px solid #DCDCDC;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.m2u4 li {
  line-height: 22px;
  padding: 16px 14px;
  border-bottom: 1px solid #ccc;
  position: relative;
  font-size: 15px;
}

.m2u4_nm {
  margin-right: 90px;
}

.mMes_t2 {
  border-bottom-width: 0px;
  border-bottom-style: none;
  margin-bottom: 5px;
  padding-top: 25px;
}

/*2016-04-12 CSS*/
.mstrBody {
  background: #f8f8f8;
}

.mstrIcon {
  width: 55%;
  margin: 20% auto 10%;
}

.mstrCon {
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 25%;
}

.mBm_btn2 {
  line-height: 42px;
  height: 44px;
  margin: 10px 45px 20px;
  font-size: 18px;
  color: #666;
  display: block;
  text-align: center;
  border-radius: 0.3em;
  border: 1px solid #85868A;
}

/*2016-05-01 CSS*/
.mNav_a, .mTop, .mLayMenu_a {
  position: relative;
}

.nsIcon {
  background: #FF0000;
  display: block;
  height: 7px;
  width: 7px;
  position: absolute;
  left: 112px;
  top: 16px;
  border-radius: 50%;
}

.mTop .nsIcon {
  border: 1px solid #FFF;
  height: 8px;
  width: 8px;
  top: 7px;
  right: 9px;
  left: auto
}

.mLayMenu_a .nsIcon {
  top: 14px;
  left: 87px;
}

.m2zz_ul {
  margin: 28px 14px;
}

.m2zz_ul li {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 12px;
}

.m2gb_box {
  margin: 0px 14px;
  height: 116px;
}

.m2gb_icon {
  float: left;
  width: 110px;
  height: 115px;
  position: relative;
}

.m2gb_icon img {
  height: auto;
  width: 110px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m2gb_txt {
  margin-left: 115px;
  height: 115px;
  position: relative;
}

.m2gb_p {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m2gb_t2 {
  line-height: 24px;
  font-size: 14px;
  padding: 6px 0px 20px;
  margin: 0px 14px;
}

.m2gb_u1 {
  margin: 0px 14px 15px;
}

.m2gb_u1 li {
  text-align: center;
  float: left;
  width: 33.333%;
  position: relative;
}

.mc3_s1 {
  text-align: center;
  display: block;
  line-height: 18px;
  padding-top: 8px;
  font-size: 12px;
}

.mc3_s2 .cor_red {
  font-size: 14px;
}

.mc3_nm {
  color: #c00;
  font: 10px Arial;
  position: absolute;
  left: 65px;
  top: 8px;
}

.mc3hmTab tr td {
  font-size: 12px;
  height: 36px;
}

.mc3_s2 {
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}

.mc3_s2 .cor_red {
  font-size: 14px;
}

.mc3_lg {
  height: 8px;
  width: 115px;
}

.mc3_lg span {
  background: #F2BCBC;
  display: block;
  height: 8px;
}

.mc3hmTab {
  margin: -8px 14px 0px;
}

.m2gb_t3 {
  line-height: 24px;
  font-size: 14px;
  padding: 6px 0px 20px;
  margin: 0px 14px;
  color: #666666;
  margin-top: -20px;
}

.hm_tg3_ul {
  margin: 0 7px;
}

.hm_tg3_ul ul li {
  float: left;
  height: 95px;
  width: 50%;
  border-right: 5px solid #FFF;
  background: #FFDBD6;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  border-left: 5px solid #FFF;
  padding: 0px 5px;
}

.hmtg3_s1 {
  font-size: 14px;
  line-height: 28px;
  padding-top: 6px;
  display: block;
}

.hmtg3_s2 {
  line-height: 26px;
  display: block;
  height: 26px;
  font-size: 16px;
}

.hmtg3_s3 {
  line-height: 22px;
  display: block;
}

.m2xx_ul {
  margin: 15px 25px 0px;
}

.m2xx_ul li {
  margin-bottom: 15px;
}

.m2ms_itms2 li {
  width: 50%;
}

.m2dzMl li {
  border-bottom: 1px solid #DCDCDC;
  padding: 0px 15px;
  font-size: 16px;
}

.m2dzMl li a {
  display: block;
  line-height: 28px;
  padding: 12px 0px;
}

.m2xx_t1 {
  line-height: 28px;
  margin: 0px 14px;
  padding: 22px 0px 11px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #B2B2B2;
}

.m2xx_txt {
  padding-top: 18px;
  padding-bottom: 22px;
}

.m2u2v1 strong {
  margin-right: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.autoMaxImg img {
  max-width: 100%;
  height: auto;
}

.m2zc_ul {
  padding: 5px 0px;
}

.m2zc_ul li {
  font-size: 16px;
  line-height: 24px;
  padding: 20px 14px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.m2zc_time {
  font-size: 12px;
  line-height: 24px;
  color: #B0B0B0;
  display: inline-block;
  position: absolute;
  right: 14px;
  bottom: 18px;
}

/*2016-05-03 CSS*/
.m2hyBox {
  margin: 0px 14px;
}

.m2hy_t1 {
  font-size: 16px;
  line-height: 28px;
  padding: 12px 0px 6px;
  color: #cc000c;
  border-bottom: 1px solid #C9C9C9;
}

.m2hy_itms {
  font-size: 15px;
  line-height: 26px;
  color: #666;
  padding: 12px 0px 6px;
}

.m2hy_name {
  float: left;
  color: #333;
  font-size: 16px;
}

.m2hyTxt {
  margin-left: 82px;
}

.m2hy_itms li {
  margin-bottom: 6px;
}

.m2hyTxt span {
  white-space: nowrap;
  margin-right: 5px;
}

.m2hy_ul {
  padding-top: 14px;
}

.m2hy_ul li {
  border: 1px solid #ccc;
  margin-bottom: 14px;
  background: #FFF;
  font-size: 15px;
  line-height: 26px;
}

.m2hyTime {
  line-height: 36px;
  padding: 5px 14px 0px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  color: #8E8E8E;
}

.m2hyPx {
  margin-left: 75px;
}

.m2hyBom {
  padding: 12px 14px;
}

.m2hyDsc {
  line-height: 22px;
  padding: 2px 0px;
}

/*2016-05-05 CSS*/
.mTop, .mNav {
  position: relative;
  z-index: 22;
}

.mNav {
  background: #fff;
  border-bottom: 1px solid #E0E0E0;
}

.subNavBg {
  position: fixed;
  top: 0px;
  bottom: 55px;
  z-index: 18;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.subNavBox {
  background: #FFF;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 93px;
  z-index: 20;
  display: none;
}

.subNav_a {
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  display: block;
  border-bottom: 1px solid #EDEDED;
  color: #888888;
}

.subNav_a:hover {
  color: #cc000c;
}

/*2016-05-10 CSS*/
.m2tzPx {
  margin-left: 45px;
}

.m2tz_t1 {
  line-height: 24px;
  color: #CC0E17;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 4px;
}

.m2tz_tm1 {
  line-height: 20px;
  height: 30px;
  border-bottom: 1px solid #C9C9C9;
  color: #9F9F9F;
  font-size: 14px;
  margin-bottom: 10px;
}

.m2tz_bx1 {
  line-height: 30px;
  margin-bottom: 5px;
  text-indent: -14px;
  padding-left: 26px;
  font-size: 16px;
  color: #8D8D8D
}

.m2tz_bx1 span {
  color: #000;
  display: inline-block;
  margin-right: 12px;
}

.m2tz_bx2 {
  padding-left: 78px;
  text-indent: -40px;
}

.m2tz_bx2 span {
  margin-right: 0;
}

.m2tz_t2 {
  font-size: 16px;
  line-height: 30px;
  padding-top: 12px;
  color: #000;
  margin-bottom: 5px;
}

.m2tz_bx3 {
  line-height: 28px;
  padding: 13px 14px;
  border-bottom: 1px solid #E3E7E9;
  position: relative;
  background: #FFF;
}

.m2tz_b3s1 {
  font-size: 17px;
  line-height: 28px;
  margin-top: 13px;
  position: absolute;
  left: 14px;
  top: 0px;
  color: #626262;
}

.m2tz_b3box {
  margin-left: 85px;
  font-size: 15px;
  text-align: right;
}

.m2tz_int {
  font-size: 15px;
  color: #555555;
  line-height: 28px;
  border-width: 0px;
  border-style: none;
  width: 100%;
  text-align: right;
  white-space: normal;
}

.m2tz_btnBox {
  padding: 16px 0px;
  text-align: center;
}

.m2tzSubmit {
  text-align: center;
  height: 40px;
  width: 120px;
  font-size: 18px;
  line-height: 40px;
  color: #FFF;
  display: inline-block;
  background: #CC000B;
  margin: 0px 12px;
  border-radius: 0.3em;
}

.m2tzChanel {
  text-align: center;
  height: 40px;
  width: 120px;
  font-size: 18px;
  line-height: 40px;
  color: #FFF;
  display: inline-block;
  background: #B8B8B8;
  margin: 0px 12px;
  border-radius: 0.3em;
}

/*.m2tz_int2 {*/
/*background: url(../images/m2tz_btn2.png) no-repeat right center;*/
/*background-size: 7px auto;*/
/*padding-right: 15px;*/
/*}*/

/*.m2tz_pBtn {*/
/*background: url(../images/m2tz_btn1.png) no-repeat;*/
/*height: 24px;*/
/*width: 24px;*/
/*margin-top: -12px;*/
/*position: absolute;*/
/*top: 50%;*/
/*right: 14px;*/
/*background-size: 24px auto;*/
/*}*/

.m2tz_pitms {
  padding-right: 32px;
  text-align: right;
}

.m2tz_pitms span {
  white-space: nowrap;
}

.m2tz_ms {
  height: 180px;
  background: #FAFAFA;
  width: 270px;
  margin-top: -90px;
  margin-left: -135px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 80;
  border-radius: 0.5em;
}

.m2tz_lyt {
  line-height: 34px;
  text-align: center;
  padding-top: 24px;
  font-size: 20px;
  color: #000;
}

.m2tz_lyp {
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  padding: 0px 25px;
  text-align: center;
}

.m2tz_lyBtnBox {
  line-height: 48px;
  height: 49px;
  border-top: 1px solid #DFE3E6;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.m2tz_lybtn {
  color: #cc000c;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  float: left;
  height: 48px;
  width: 50%;
}

.m2tz_lybtn:first-child {
  border-right: 1px solid #dfe3e6;
}

.m2tz_lyck {
  background: #FFF;
  width: 100%;
  z-index: 80;
  left: 0px;
  bottom: 0px;
  border-radius: 0.5em 0.5em 0 0;
  position: fixed;
}

.m2tz_lckBtnBox {
  line-height: 48px;
  height: 49px;
  padding: 0px 14px;
  border-bottom: 1px solid #dfe3e6;
}

.m2tz_lcBtn {
  font-size: 18px;
  color: #555555;
  float: left;
}

.m2tz_lcBtn2 {
  font-size: 18px;
  color: #ce010c;
  float: right;
}

.m2tz_chksBox {
  padding: 15px 0px 15px 14px;
}

.m2tz_chks {
  color: #555555;
  font-size: 15px;
  white-space: nowrap;
  display: inline-block;
  line-height: 32px;
  height: 32px;
  margin-right: 25px;
}

.m2tz_chks i {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-top: 9px;
  border: 1px solid #565656;
}

.m2tz_chksBox2 {
  padding-bottom: 0px;
}

.m2tz_chksBox3 {
  padding-top: 6px;
}

.android-ics div {
  text-align: center;
}

/*2016-05-19 CSS*/
.mhp_t1 {
  font-size: 16px;
  line-height: 26px;
  padding: 38px 12px 0px;
  text-align: center;
}

.mhp_t2 {
  font-size: 20px;
  line-height: 32px;
  color: #cc000c;
  text-align: center;
  padding: 0px 12px;
}

.mhp_imgBox {
  padding: 28px 12px;
  border-bottom: 8px solid #DFDFDF;
  text-align: center;
}

.mhp_t2a {
  padding: 25px 12px 10px;
}

.mhp_imgBox2 {
  padding: 0px 12px;
  text-align: center;
}

.mhp_aBtn {
  line-height: 50px;
  text-align: center;
  height: 50px;
  margin: 0px 8px 8px;
  color: #FFF;
  background: #CC000B;
  font-size: 18px;
  display: block;
  margin-top: -5px;
  border-radius: 0.3em;
}

.mazLogo {
  margin: 0px auto 17px;
  height: 112px;
  width: 112px;
  display: block;
}

.mazLnm {
  line-height: 34px;
  text-align: center;
  font-size: 25px;
  color: #FFF;
}

.mazCy {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  opacity: 0.7
}

.mazLnm2 {
  font-size: 20px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
  padding: 16px 12px 32px;
  opacity: 0.7
}

.mazBtn img {
  margin-right: 12px;
  position: relative;
  top: 5px;
}

.mazBtn {
  color: #FFF;
  font-size: 17px;
  line-height: 54px;
  text-align: center;
  display: block;
  margin: 0px 12px;
  height: 54px;
  background: #CC000B;
  border-radius: 0.3em;
}

.mazBtnBox {
  background: #F6F6F6;
  padding: 18px 0px;
}

.mazAsk {
  color: #cc000c;
  line-height: 25px;
  padding: 20px 12px;
  text-align: center;
  font-size: 15px;
  display: block;
}

/*2016-07-05 CSS*/
html {
  height: 100%
}

.mdownBody {
  background: url("../../assets/images/download/img/BG.png") no-repeat center center;
  background-size: 100% 100%;
  height: 100%;
}

.mdownImg {
  padding: 15% 0px 6%;
}

.mdownImg img {
  width: 56%;
  height: auto;
  display: block;
  margin: 0px auto;
}

.mdownBtn img {
  height: auto;
  width: 20px;
  margin-right: 13px;
  position: relative;
  top: -3px;
}

.mdownBtn {
  font-size: 16px;
  color: #FF676C;
  line-height: 40px;
  height: 42px;
  border: 1px solid #FF676C;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0px auto;
  border-radius: 2.5em;
}

.mdownBtn img, text {
  vertical-align: middle;
}

.mdown_s1 {
  color: #FF676C;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-top: 18px;
}

.downLayerBg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 40;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.downSt {
  line-height: 40px;
  background: #F0EFF4;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color: #414042;
}

.downLayer {
  position: fixed;
  z-index: 42;
  width: 100%;
  left: 0px;
  top: 48px;
}

.downSt img {
  height: auto;
  width: 20px;
  margin-right: 12px;
  position: relative;
  top: 5px;
  -webkit-animation: spin 1.6s infinite linear;
  animation: spin 1.6s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(220deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.downImgBox {
  padding: 18px 0px 15px;
}

.downBtn2 {
  line-height: 42px;
  margin: 0px 20px;
  height: 42px;
  background: #CB000C;
  text-align: center;
  display: block;
  font-size: 18px;
  color: #FFF;
  border-radius: 0.2em;
}

.downLayerBg_help {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 40;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.downLayer_help {
  position: fixed;
  z-index: 42;
  width: 100%;
  left: 0px;
  top: 48px;
}

.downImgBox_help {
  padding: 18px 0px 15px;
  width: 90%;
}

@media (max-width: 359px) {
  .downImgBox_help {
    width: 70%;
  }
}
